@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
    /* --pink: #e34675;
    --green: #91c74a;
    --white: #efe7d0;
    --blue: #3077a6;
    --violet: #301437;
    --violet-light: #62376d; */
    --bg-color-light: #b2c9ac;
    /* --bg-color: #aec8a3; */
    --bg-color: #7eaa6c;
    /* --text-dark: #537f41; */
    --text-dark: #396727;
    --text-light: #eeebe6;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    background: url('./assets/bg2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 100vh;
    overflow: hidden;
    color: var(--text-dark);
    font-family: "Fredoka", sans-serif;
}

.container {
    text-align: center;
    width: 100%;
    padding: 1rem 0;
}

.timer {
    /* background-color: coral; */
    display: inline-block;
    padding: 1rem;
    width: 90%;
    box-sizing: border-box;
}

main {
    background-color: var(--bg-color);
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    /* margin-bottom: 2rem; */
}

h1 {
    font-size: 2rem;
    margin: 0.5rem auto;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.button-container {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
}

.pomodoro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 1.5rem 0;
    text-align: center;
    border-radius: 50%;
    /* background-color: var(--bg-color); */
}

/* .pomodoro::before {
    content: "";
    position: absolute;
    border: 10px solid royalblue;
    border-radius: 50%;
    width: 23rem;
    height: 23rem;
} */

/* .button-container {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
} */

.btn {
    background-color: var(--bg-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1.2rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.btn.active, .btn:hover {
    background-color: var(--text-dark);
}

.hidden {
    display: block;
}

.timer-display {
    font-size: 7rem;
    margin-top: 1.2rem auto;
    font-weight: 600;
}

/* .time {
    font-size: 5rem !important;
    margin: 1.2rem auto;
} */

.buttons {
    margin-top: 0.5rem;
}

#start,
#stop {
    background-color: var(--bg-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 1rem 1.2rem;
    margin: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

#stop:hover {
    background-color: var(--bg-color-light);
}

#start:hover {
    background-color: var(--bg-color-light);
}


#timer-message {
    color: white;
    background-color: tomato;
    display: none;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 1rem;
    position: absolute;
    top: 0.75rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}